<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><meta http-equiv="refresh" content="5; current/">
  </head>
<body>

<h1>Welcome to Go Continuous Delivery User Documentation</h1>
<style>
  .paragraph {
    font-size: 20px;
  }
</style>

<p class="paragraph">
  You will be redirected to the <a href="current/">latest stable</a> version of the user documentation.
  <br>
  If you are looking to access a specific version of the documentation please click one of the links below:
  <br>
</p>

<p class="paragraph">
  <a href="current/"><%= version_to_release %> (current)</a><br>
  <a href="<%= next_version %>/"><%= next_version %> (under development: early access)</a><br>
  <%- Dir['*'].reject {|f| !File.directory?(f)}.collect {|f| Gem::Version.new(f) rescue nil}.compact.sort.reverse.collect(&:to_s).each do |f| -%>
    <%- next if f == version_to_release || f == next_version -%>
    <a href="<%= f %>/"><%= f %></a><br>
  <% end -%>
</p>

</body>
</html>
